# Vercel Postgres — vul in na aanmaken database in Vercel dashboard
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""

# Vercel Blob — vul in na aanmaken in Vercel dashboard
BLOB_READ_WRITE_TOKEN=""

# Admin wachtwoord
ADMIN_PASSWORD=""
